/**
 * SETTINGS
 *  - Color Variable
 *  - Font family
 *
 */


//  Color Variable
$black: #000;
$white: #FFF;
$border-blue: #005AA5;


// Font family
$oswaldreg: 'oswald-regular';
$oswaldreg-name: '../assets/fonts/Oswald/static/Oswald-Regular';

$oswaldbold: 'oswald-bold';
$oswaldbold-name: '../assets/fonts/Oswald/static/Oswald-Bold';

$oswaldsemibold: 'oswald-semibold';
$oswaldsemibold-name: '../assets/fonts/Oswald/static/Oswald-SemiBold';

$oswaldlight: 'oswald-light';
$oswaldlight-name: '../assets/fonts/Oswald/static/Oswald-Light';
